.main-logo {
  height: 150px;
  display: inline-block;
  vertical-align: top;
}
h1 {
  display: inline-block;
  vertical-align: top;
}
h2 {
  color: #3366ff;
}
p {
  text-align: justify;
}
.navbar {
  background-color: #118b50;
  margin: 20px 0;
  padding: 15px 30px;
  font-size: large;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
}
.open-nav {
  color: #ffffff;
}
.close-nav {
  color: #ffffff;
  text-decoration: none;
}
.text-highlight {
  color: #118b50;
  font-weight: bold;
}
.top-navigation {
  margin-left: 725px;
}
